<!doctype html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='viewport' content='width=device-width' />
	<meta name="description" content="line up 3 of the same color to get points"/>
	<title>blipblop.xyz - line up 3 blocks of the same color to get points</title>

	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="blipblop.xyz"/>
	<meta name="twitter:site" content="@reednj"/>
	<meta name="twitter:creator" content="@reednj"/>
	<meta name="twitter:description" content="line up 3 of the same color to get points"/>
	<meta name="twitter:image:src" content="http://blipblop.xyz/blipblop.png"/>
	<meta name="twitter:domain" content="blipblop.xyz"/>

	<link rel="stylesheet" href="./css/normalize.css" type="text/css">
	<link rel="stylesheet" href="./css/base.less" type="text/x-less">
	<link rel="stylesheet" href="./css/columns.less" type="text/x-less">

	<script src="js/mootools-core-full-compat-yc.js"></script>
	<script src="js/canvas.js"></script>
	<script src="js/columns.js"></script>

	<script type='text/javascript'>
		window.addEvent('load', function() {
			new ColumnsGame();
		});
	</script>

	<script src="js/less.min.js"></script>
</head>

<body>

<div id='wrapper'>
	<div class='game'>

		<div class='viewport'>
			<canvas id='back-canvas' width='220' height='400'></canvas>
			<canvas id='main-canvas' width='220' height='400'></canvas>
		</div>

		<div class='prev-viewport'>
			<div class='top-row'>
				<canvas id='preview-canvas' width='60' height='100'></canvas>

				<div class='score'>
					<div id='level' class='level'>-</div>
					<div id='points'>0</div>
					<div class='caption'>points</div>
				</div>

				<div style='clear:both;'></div>
			</div>

			<div class='help'>
				<div>Line up 3 squares of the same color to get points</div>

				<h2>KEYS</h2>
				<div><i>left/right</i> move</div>
				<div><i>up/down</i> rotate</div>
				<div><i>space</i> drop quickly</div>
			</div>

			<div class='help scores'>
				<h2>Top Scores</h2>
				<%= erb :_top_games, :locals => { :scores => GameModel.top(8) } %>
			</div>
		</div>

		<div style='clear:both'></div>
	</div>

	<div id='push'></div>
</div>

<div id='footer'>
	<div class='content'>
		<div class='logo'>
			<img src='logo.png' alt='logo'>
		</div>

		<div class='me'>
			<div>
			<a class="twitter-follow-button" href="https://twitter.com/reednj">Follow @reednj</a>
			<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=blipblop%20is%20a%20teris%20like%20puzzle%20game%20where%20you%20try%20to%20match%20the%20colors">Tweet</a>
			</div>
			
			<div>
			<a href='http://reednj.com'>@reednj</a> | 
			<a href='https://github.com/reednj/columns'><%= settings.version %></a>
			</div>
		</div>

	</div>
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57284-17', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
