<!doctype html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='viewport' content='width=device-width' />
	<title>MMO Paint</title>

	<link rel="stylesheet" href="./css/normalize.css" type="text/css">
	<link rel="stylesheet" href="./css/base.less" type="text/x-less">
	<link rel="stylesheet" href="./css/paint.less" type="text/x-less">

	<script src="js/mootools-core-full-compat-yc.js"></script>
	<script src="js/canvas.js"></script>
	<script src="js/paint.js"></script>

	<script type='text/javascript'>
		var _debug = <%= settings.development?.to_json %>;
		window.addEvent('load', function() {
			var g = new Game({debug: _debug});
		});
	</script>

	<script src="js/less.min.js"></script>
</head>

<body>

<div id='wrapper'>
	<div class='game'>
		<div class='viewport'>
			<canvas id='main-canvas' width='1000' height='650'></canvas>
			<canvas id='map-canvas' width='200' height='100'></canvas>
		</div>

	</div>

	<div id='push'></div>
</div>

<div id='footer'>
	<div class='content'>
		<div class='logo'>
			<img src='logo.png' alt='logo'>
		</div>

		<div class='me'>
			<div>Nathan Reed | <a href='http://twitter.com/reednj'>@reednj</a></div>
			<div><%= settings.version %></div>
		</div>

		<div style='float:right'>
			<div id='picker-preview' class='color-preview'></div>
			<div id='picker' class='js-picker'></div>
		</div>

		<div style='clear:both;'></div>
	</div>
</div>

<%= erb :google %>

</body>

</html>
